body {
	font:normal 16px/1.333em "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.navigation li {
	text-transform: uppercase;
	font-weight: 600;
	a {
		text-decoration:none;
		color:#fff;
	}
}